<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Learn about conditional statement in ejs</h1>

    <h3> <%= 5 + 15 %> </h3>                                                 <%# anything inside interpolation syntax behave like JavaScript, ( 5 + 5) will print 10 overscreen %>              
    
    <h3> <%= "apnacollege".toUpperCase() %> </h3>                           <%# print 'apnacollege' in uppercase over screen %>

    <h3> <%= ["namaste", "bonjour", "namaste"][0] %> </h3>                  <%# [0] after the array will print element at 0th index over the screen %>

    <p>
        epe praesentium maiores inventore dolor beatae, accusamus quos a facere voluptate!
    </p>
    <button>Click me!</button>
</body>
</html>